:root {
    --silver: #bdbdbd;
    --greyish-blue: #32393d;
    --midtone-grey: #373737;
    --dark-grey: #2d2d2d;
    --grey: #464646;
}

html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%
}

.dropdown-menu  {
    background-color: var(--dark-grey);
    border: none;
    color: var(--silver)
}

.nav-item .dropdown {
    background-color: var(--dark-grey);
    border: none;
    color: var(--silver)
}

#collasible-nav-dropdown {
    background-color: var(--dark-grey);
    margin-right: 1rem;
    border: none;
    color: var(--silver)
}

#navItem {
    color: var(--silver);
}

#navItem:hover {
    background-color: var(--grey);
}

#navbar {
    background-color: var(--dark-grey);
}

#logo {
    color: var(--silver);
}

#nav {
    flex-direction: "row";
}

#loginForm {
    background-color: var(--dark-grey);
    padding: 0.25rem;
}

#loginButton {
    background-color: var(--grey);
    border: none;
}

#signupButton {
    background-color: var(--grey);
    border: none;
}

#labelText {
    background: var(--dark-grey);
    color: var(--silver);
    border: none; 
}

#signupForm {
    background-color: var(--dark-grey);
    padding: 0.25rem;
}

#orSignUpButton {
    color: var(--silver);
}

.container {
    position: relative;
    text-align: left;
    margin-left: -1rem;
}

.bottom-right {
    position: absolute;
    color: var(--silver);
    bottom: -16px;
    right: -15px;
}

.live {
    background-color: red;
    border-radius: 5px;
    padding: 5px;
    left: 0px;
    top: 0px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    margin-left: -2.5rem;
  }

.viewers {
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 30px;
    left: 5px;
    padding: 5px;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 100;
    color: white;
  }

.bottom-left {
    position: absolute;
    left: 15px;
    bottom: -1px;
}

#myStreams {
    background-color: var(--dark-grey);
    color: var(--silver);
}

#box {
    display: inline-block;
    margin-left: 5%;
    color: var(--silver)
}

.right {
    float: right;
    margin-right: 4rem; 
}

.centered {
    justify-items: center;
}

.white {
    color: var(--silver);
}

.wrapperImage {
    text-align: center;
}

.centerImage {
    display: inline-block;
}

.clipContainer {
    position: absolute;
    display: inline-block;
}

.clips {
    overflow-y: auto;
    overflow-wrap: break-word;
    height: 720px;
    width: 400px;
}

.loadingClips {
    display:block;
    margin:auto;
    transform: translateY(100%);
}

.marginClips {
    width: 400px;
    white-space: nowrap;
}

.centerButton {
    display: flex;
    justify-content: center;
    margin: 1px;
}

.centerDiv {
    display: flex;
    justify-content: center;
}

.textNoClip {
    max-width: 1280px;
    overflow-y: hidden;
}
